html,body { 
	background: #06c;
	vertical-align:top;
}

#blocks {
	position: fixed;
	float:top;
	left: 100px;
	top: 100px;
}

.block{
	transform-origin: 50% 50% !important;
	position: absolute;
}

#player{
	position: fixed;
	float:top;
	left: 100px;
	top: 100px;
}

.player{
	transform-origin: 50% 50% !important;
	position: absolute;
	background: red;
}

#frontLayers{
	position: fixed;
	float:top;
	left: 100px;
	top: 100px;
}

.blockFrontLayer{
	transform-origin: 50% 50% !important;
	position: absolute;
	background: black;
	border: 0px;
}